@model ForgotPasswordViewModel

<div id="logreg-forms">

    <form id="account" asp-controller="Account" asp-action="ForgotPassword" method="post" role="form">
        <div class="font-weight-normal controlColor">
            <div class="row">
                <div class="col-12 pt-2">
                    <h1 class="h3 mb-3 font-weight-normal text-white" style="text-align:center">Recuperar senha</h1>
                </div>
            </div>

        </div>
       
        @*@if (Model.ExternalLogins?.Count > 0)
        {
            <p style="text-align:center"> OU </p>
        }*@
        <input asp-for="Email" placeholder="Email..." type="email" required="" autofocus="" class="mb-3 mt-3 form-control" />
        <p>
            <button type="submit" class="btn controlColor btn-block"><i class="icon-sign-in-alt"></i> Enviar</button>
        </p>
        <div asp-validation-summary="All" class="text-danger"></div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
